#prout{
    
}
#LAMETEO{
    font-size: 20em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#desc{
    font-size: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tn{
    width:  100px;
    height: 100px;
    -webkit-animation: rotating 2s linear infinite;
}